.venv

# Database Migrations
**/migrations/

# Database
/internal/db.sqlite3

# Pycache
**/__pycache__/
/internal/catalog/__pycache__
/internal/internal/__pycache__

# Settings.py

/internal/internal/settings.py