{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Choice</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% tailwind_css %}
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal">
  <div class="flex flex-col justify-between p-10 space-y-10 bg-amber-200 h-screen w-screen">
    <div>
      <div class="flex justify-center text-serif">
        Website is getting Ready meanwhile use these options
      </div>
    </div>
    <div class="flex justify-center text-5xl font-bold font-mono">
      MY CHOICE
    </div>
    <div class="flex flex-col text-blue-700">
      <div class="flex justify-center my-5">
        <a href="/admin">Administration Portal</a>
      </div>
      <div class="flex justify-center my-5">
        <a href="/inventory">Inventory</a>
      </div>
    </div>
    <div class="flex flex-col space-y-5">
      <div class="flex justify-center">
        Shop Address and Details:
      </div>
      <div class="flex flex-row justify-center">
        <div class="flex flex-col border-r p-2 border-black">
          <div>
            Shop 4, Block 1, Kalimati Road
          </div>
          <div>
            Near Balajee Hotel, Sakchi, Jamshedpur
          </div>
          <div>9334638328 | 7979888545</div>
          <div>mychoice_jamshedpur@rediffmail.com</div>
        </div>
        <div class="flex flex-col justify-start border-l border-black p-2">
          <div>
            67, First Floor, Birenu Trade Center
          </div>
          <div>Sakchi, Jamshedpur</div>
          <div>9334825935</div>
          <div>mychoice_jamshedpur@rediffmail.com</div>
        </div>
      </div>
    </div>
    <div class="flex flex-col space-y-5">
      <div class="flex justify-center">
        For Queries Contact:
      </div>
      <div class="flex justify-center">
        7970460076 | contactus@mychoiceworld.in
      </div>
      <div class="flex justify-center">
        Copyright©2024 mychoice
      </div>
    </div>
  </div>
  </div>
</body>

</html>